@charset "utf-8";
#main{
    margin-bottom: 50px;
    .main_inner{
        margin: auto;
        width: 1200px;
        background: #fff;

        //top_box 标题
        .main_top{
            margin-bottom: 20px;
            height: 58px;
            border-bottom: 1px solid #cccccc;
            line-height: 57px;

            // 标题按钮
            a{
                font-size: 12px;
                color: #000;
                margin-left: 20px;
                margin-right: 20px;

                &:hover{
                    color: red;
                }
            }
            //标题按钮--首页
            .home_btn{
                margin-right: 12px;
                margin-left: 0;
            }
            // >
            span{
                font-size: 12px;
                color: #000;
            }

        }

        //center_box 购买 加入购物车
        .main_center{
            padding-bottom: 20px;

            //左边 商品图片
            .left{
                margin-right: 27px;
                width: 424px;
                height: auto;
                
                // 商品大图
                .goods_big_pic{
                    margin-bottom: 19px;
                    width: 420px;
                    height: 420px;
                    border: 1px solid #e5e5e5;
    
                    img{
                        width: 100%;
                        height: 100%;
                        border: none;
                    }
                }
                
                // 商品小图
                .goods_small_pic{
                    margin-bottom: 25px;
                    width: 100%;
                    height: 66px;
                    
                    .prev_btn{//上一张

                        display: block;
                        float: left;
                        margin-top: 22px;
                        width: 16px;
                        height: 27px;
                        background: url(../images/detail_icon_list.png) no-repeat  0 -372px;
                        
                    }

                    //图片
                    .pic_list{
                        float: left;
                        height: 100%;
                        width: 385px;
                        overflow: hidden;

                        li{
                            float: left;
                            margin-left: 11px;
                            width: 66px;
                            height: 66px;
                            border: 1px solid #e6e6e6;

                            a{
                                display: block;
                                width: 100%;
                                height: 100%;
                                
                                img{
                                    display: block;
                                    margin: auto;
                                    width: 60px;
                                    height: 60px;
                                    border: none;
                                }
                            }

                            &:hover{
                                border: 2px solid #c72d46;
                            }
                        }

                    }

                    //下一张按钮
                    .next_btn{
                        display: block;
                        float: right;
                        margin-top: 22px;
                        width: 16px;
                        height: 27px;
                        background: url(../images/detail_icon_list.png) no-repeat -21px -372px;

                    }
                }

                // 商品收藏
                .goods_collect{
                    height: 24px;

                    //商品编号
                    .number{
                        margin-right: 25px;
                        height: 100%;

                        dt{
                            float: left;
                            margin-right: 5px;
                            height: 100%;
                            font-size: 13px;
                            color: #b8b8b8;
                            line-height: 24px;
                        }
                        dd{
                            float: left;
                            height: 100%;
                            font-size: 11px;
                            color: #b8b8b8;
                            line-height: 24px;
                        }
                        
                    }

                    //商品收藏
                    .collect{
                        margin-bottom: 26px;
                        height: 100%;

                        a{
                            display: block;
                            height: 100%;
                            

                            .icon{
                                display: block;
                                float: left;
                                margin-top: 3px;
                                margin-right: 4px;
                                width: 18px;
                                height: 18px;
                                background: url(../images/detail_icon_list.png) no-repeat -30px -308px;
                            }
                            span{
                                display: block;
                                float: left;
                                height: 100%;
                                font-size: 14px;
                                color: #908d96;
                                line-height: 24px;
                                text-align: center;
                            }

                            
                        }
                        
                    }
                }

            }
            //右边 
            .right{
                padding-top: 12px;
                width: 617px;
            
                //商品名称
                .goods_name{
                    margin-bottom: 17px;
                    height: auto;
                    font-size: 19px;
                    color: #000;
                    line-height: 23px;  
                }
                //商品描述
                .goods_describe{
                    margin-bottom: 10px;
                    height: auto;
                    font-size: 14p;
                    color: #c41f3a;
                    line-height: 18px;
                }
                //商品价格
                .goods_price{
                    padding-left: 10px;
                    height: 81px;
                    border-bottom: 1px dashed #f0dde1;
                    background: #fefafb;

                    span{
                        display: block;
                        float: left;
                        height: 100%;
                    }

                    //价格标题
                    .price_title{
                        width: 83px;
                        font-size: 13px;
                        color: #6666;
                        line-height: 83px;
                    }

                    //现价
                    .current_price{
                        margin-right: 12px;
                        font-size: 33px;
                        color: #df0010;
                        line-height: 67px;
                        font-weight: 600;
                    }

                    //原价
                    .origin_price{
                        font-size: 11px;
                        color: #999;
                        line-height: 89px;
                    }

                }
                //商品运费
                .goods_freight{
                    padding-left: 10px;
                    margin-bottom: 11px;
                    height: 50px;
                    border-bottom: 1px solid #dedede;

                    span{
                        display: block;
                        float: left;
                        height: 100%;             
                        line-height: 49px;
                        font-size: 13px;
                    }
                    //运费标题
                    .freight_title{                   
                        width: 83px;
                        color: #666;          
                    }

                    //运费
                    .freight{  
                        color: #000;
                    }
                
                }
                //商品特征
                .goods_feature{
                    padding-left: 10px;
                    //颜色
                    .color{
                        margin-bottom: 10px;
                        height: auto;

                        .color_title{
                            display: block;
                            float: left;
                            height: 35px;
                            width: 83px;
                            font-size: 14px;
                            color: #666;
                            line-height: 35px;
                        }

                        .color_list{
                            float: left;
                            height: auto;
                            width: 523px;


                            li{
                                position: relative;
                                float: left;
                                margin-right: 10px;
                                margin-bottom: 10px;
                                height: 35px;
                                width: 64px;
                                border: 2px solid #f11d20;
                                text-align: center;
                                line-height: 31px;

                                a{
                                    font-size: 12px;
                                    color: #000;
                                }

                                b{
                                    display: block;
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    width: 13px;
                                    height: 13px;
                                    background: url(../images/detail_icon_list.png) no-repeat -86px -1px;
                                }
                            
                            }

                        }

                    }

                    //尺码
                    .size{
                        margin-bottom: 10px;
                        height: auto;

                        .size_title{
                            display: block;
                            float: left;
                            height: 35px;
                            width: 83px;
                            font-size: 14px;
                            color: #666;
                            line-height: 35px;
                        }

                        .size_list{
                            float: left;
                            height: auto;
                            width: 523px;


                            li{
                                position: relative;
                                float: left;
                                margin-right: 10px;
                                margin-bottom: 10px;
                                height: 35px;
                                width: 64px;
                                border: 2px solid #f11d20;
                                text-align: center;
                                line-height: 31px;

                                a{
                                    font-size: 12px;
                                    color: #000;
                                }

                                b{
                                    display: block;
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    width: 13px;
                                    height: 13px;
                                    background: url(../images/detail_icon_list.png) no-repeat -86px -1px;
                                }
                            
                            }

                        }

                    }

                    //数量
                    .num{
                        margin-bottom: 10px;
                        height: auto;

                        .num_title{
                            display: block;
                            float: left;
                            height: 35px;
                            width: 83px;
                            font-size: 14px;
                            color: #666;
                            line-height: 35px;
                        }

                        .num_box{
                            float: left;
                            margin-bottom: 32px;
                            height: 38px;
                            border: 1px solid #d5d5d5;

                            a{
                                display: block;
                                float: left;
                                width: 36px;
                                height: 36px;
                                background: #fff;
                                font-size: 14px;
                                color: #9a9b9d;
                                text-align: center;
                                line-height: 36px;
                            }
                            .reduce{
                                border-right: 1px solid #d5d5d5;
                            }
                            .add{
                                border-left: 1px solid #d5d5d5;
                            }

                            .num_input{
                                display: block;
                                float: left;
                                width: 69px;
                                height: 36px;
                                border: none;
                                font-size: 14px;
                                color: #000;
                                line-height: 36px;
                                text-align: center;

                            }
                        }

                    }


                }
                //加入购物车
                .cart_box{
                    //立即购买 加入购物车
                    .cart{
                        margin-left: 10px;
                        height: 45px;

                        a{
                            display: block;
                            float: left;
                            width: 154px;
                            border: 2px solid #f12b2d;
                            font-size: 18px;
                            text-align: center;
                            line-height: 41px;
                        }

                        .buy{
                            margin-right: 18px;
                            color: #fff;
                            background: #f11d20;
                        }

                        .add_cart{
                            color: #f11d20;
                            background: #ffff;
                        }

                    }

                    //提示信息
                    .prompt_msg{
                        width: 337px;
                        font-size: 14px;
                        color: #000;
                        line-height: 22px;
                    }
                }
            }

        }
        
        //bottom_box 商品详情 留言板
        .main_bottom{
            // 左边 侧栏
            .left{
                width: 198px;
                float: left;
                height: 100%;

                .left_inner{
                    width: 100%;
                    height: auto;
                    border: 1px solid #e5e5e5;

                    img{
                        width: 196px;
                        height: 2779px;
                        border: none;
                    }
                }

            }
            .right{
                float: right;
                width: 976px;
                height: auto;
                border: 1px solid #e5e5e5;

                .right_top{
                    width: 100%;
                    height: auto;
                    img{
                        width: 974px;
                        height: 4465px;
                        border: none;
                    }
                }

                .right_bottom{
                    width: 100%;
                    height: auto;
           

                    .liuyanban_title{
                        height: 35px;

                        h2{
                            height: 100%;
                            width: 111px;
                            background: #333333;
                            font-size: 17px;
                            color: #fff;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    .liuyanban_content{
                        padding-left: 48px;
                        padding-right: 41px;
                        padding-top: 31px;
                        border-top: 1px solid #e5e5e5;
                        border-bottom: 1px solid #e5e5e5;
                        .liuyanban_title{
                            
                            height: 21px;
                            p{
                                float: left;
                                height: 100%;
                                font-size: 13px;
                                color: #000;
                                line-height: 21px;
                            }
                            p:nth-child(1){
                                margin-right: 40px;
                                width: 582px;            
                            }
                            p:nth-child(2){
                                margin-right: 55px;
                                width: 120px;
                                text-align: center;
                                
                            }
                            
                        }
                        .liuyanban_list{
                            height: auto;

                            .liuyanban_item{
                                padding-top: 20px;
                                padding-bottom: 20px;
                               
                                min-height: 110px;
                                height: auto;
                                border-bottom: 1px solid #e5e5e5;
                                // 留言内容
                                .content_box{
                                    margin-right: 40px;
                                    width: 582px;
                                    height: 100%;
                                   
                                    .liuyan{
                                        margin-bottom: 2px;
                                        font-size: 12px;
                                        color: #000;
                                        line-height: 20px;
                                        
                                    }
                                    .time{
                                        font-size: 9px;
                                        color:#a0a0a0;
                                        line-height: 15px;


                                    }
                                }
                                // 评价等级
                                .level_box{
                                    margin-right: 55px;
                                    width: 120px;
                                    height: 100%;
                            
                                    .level{
                                        height: 8px;
                                        i{
                                            display: block;
                                            float: left;
                                            margin-right: 7px;
                                            width: 17px;
                                            height: 100%;
                                            background: url(../images/detail_icon_list.png) no-repeat -87px -121px;
                                        }
                                    }

                                }
                                .user_infos_box{
                                    height: 100%;
                                    width: 50px;
                                  
                                    
                                    .user_pic{
                                        width: 50px;
                                        height: 50px;
                                        border-radius: 50%;
                                        background: url(../images/user_center_img4.jpg) no-repeat center center;
                                        background-size: 100%;
                                        
                                    }
                                    .user_name{
                                        font-size: 9px;
                                        color: #000;
                                        text-align: center;
                                        line-height: 17px;
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
        
    }
}